body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
  color: #333333;
  background-color: #FFFFFF;

  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;

  transition: all 0.25 ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
}

body.dark-mode {
  background-color: #333333;
  color: white;
}

a:link.dark-mode {
  color: #FFFF11;
  transition: color 0.5 ease;
}

a:visited.dark-mode {
  color: #AAE574;
  transition: color 0.5 ease;
}

a:active.dark-mode {
  color: #11FFFF;
  transition: color 0.5 ease;
}

div.header {
  text-align: center;
  padding: 120px 0px 20px 0px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  margin: 0px 0px 10px 0px;
  display: inline-block;
}

h5 {
  padding-bottom: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

div.connect-row {
  text-align: center;
}

div.connect-row a {
  text-decoration: none;
}

div.connect-row a img {
  display: inline-block;
  padding: 15px;
  width: 40px;
  height: 40px;
}

hr {
  width: 80%;
  height: 1px;
  background-color: #BBBBBB;
  color: #888888;
  border: 0px none;
}

img.homepage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

p {
  text-align: justify;
  /*font-size: 24px;*/
}

li {
  text-align: justify;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #8000FF;
}

span.google-blue {
  font-family: 'Jost', sans-serif;
  color: #4285F4;
}

span.google-red {
  font-family: 'Jost', sans-serif;
  color: #DB4437;
}

span.google-yellow {
  font-family: 'Jost', sans-serif;
  color: #F4B400;
}

span.google-green {
  font-family: 'Jost', sans-serif;
  color: #0F9D58;
}

b {
  font-family: 'Quicksand', sans-serif;
}

@media (min-width: 800px) {
  img.self {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}

@media (max-width: 799px) {
  img.self {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

@media (min-width: 1500px) {
  div.main-content {
    padding: 0px 28% 40px 28%;
  }
}

@media (max-width: 1499px) {
  div.main-content {
    padding: 0px 18% 40px 18%;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}