 <!-- Contact Section -->
    <section id="connect">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Connect</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>I'd love to hear from you. Feel free to find me online, or just shoot me an email.</p>
                    <br>
                    <p>Looking forward to connecting soon.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <ul class="list-inline">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" class="btn-social-secondary btn-outline-secondary"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:connect@yrsu.me" class="btn btn-lg btn-outline-secondary">
                        <i class="fa fa-envelope"></i> &nbspSend an Email
                    </a>
                </div>
            </div>
        </div>
    </section>
