<section id="connect">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Connect</h2>
                    <h3 class="section-subheading text-muted text-secondary-dark">I'd love to hear from you. Feel free to find me online or reach out via email.</h3>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <ul class="list-inline social-buttons-primary">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <a href="mailto:connect@yrsu.me" class="btn btn-xl"><i class="fa fa-envelope"></i>{{' '}}Send an Email</a>
                </div>
            </div>
        </div>
    </section>
