<!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">Here's a quick look at my history in tech.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2017</h4>
                                    <h4 class="subheading">Engineering Resident - Google</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I'll be completing up to two engineering rotations on different teams at the Mountain View headquarters as I pursue a full-time software engineering position.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2017 - Septebmer 2017</h4>
                                    <h4 class="subheading">Software Engineering Intern - HealthTech Solutions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As one of the first two interns for the startup, I helped create a multi-leveled admin portal with <b>React + Redux</b> to help manager users, messages, and permissions. I also <b>handled all Android releases</b> and implemented several app and API bug fixes.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2017</h4>
                                    <h4 class="subheading">Bachelor's Degree Graduate - University of Iowa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After four fun years of undergrad, I graduated with a <b>BSE in Electrical Engineering</b>, <b>BA in Computer Science</b>, <b>BA in Music</b>, Mathematics Minor, and Honors. I also <b>started UI's first hackers club</b> and served as the analytics chair for <a href="https://dancemarathon.uiowa.edu/">Dance Marathon</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2017 - May 2017</h4>
                                    <h4 class="subheading">Teaching Assistant - UI College of Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I helped instruct <b>over 100 students</b> in the Computers in Engineering class, focusing on C++ programming, pointers, and data structures.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2016 - August 2016</h4>
                                    <h4 class="subheading">Software Developer Intern - Epic Systems</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I spent the summer in beautiful Madison, WI, working on a project to <b>increase patient adherence to complex anticoagulant schedules</b> using popular calendaring services.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2015 - May 2016</h4>
                                    <h4 class="subheading">Research Assistant - Iowa Institute for Biomedical Imaging</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I completed several individual projects relating to <b>3D medical image pre-processing</b> and <b>object segmentation</b>, including an exact "peak" calculator and an efficient image denoiser.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2014 - November 2014</h4>
                                    <h4 class="subheading">JavaScript Engineering Intern - MetaCommunications</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my freshman year summer, I developed a <b>tokenizing UI</b> that handled arrow key navigation, mouse clicks, and autocomplete-able entries.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image text-only">
                                <h4>It all
                                    <br>started
                                    <br>here.</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2013</h4>
                                    <h4 class="subheading">"Hello World" Programmer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This was when I decided that I wanted to be in tech. Many thanks to <a href="https://codecademy.com">CodeCademy</a> and <a href="https://ocw.mit.edu/index.htm">MIT Open Courseware</a> for helping get me started.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
