{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            {% for post in paginator.posts %}
              <!-- <div class="wow fadeIn"> -->
              {% if post.type == "header" %}
                {% include content-header.html %}
              {% endif %}

              {% if post.type == "spotify" %}
                {% include spotify-player.html %}
              {% endif %}

              {% if post.type == "connect" %}
                {% include connect.html %}
              {% endif %}

              {% if post.type == "temp" %}
                {% include content-placeholder.html %}
              {% endif %}

              {% if post.type == "content" %}
                {% if post.position == "left" %}
                  {% include content-left.html %}
                {% else %}
                  {% include content-right.html %}
                {% endif %}
              {% endif %}
              <!-- </div> -->
            {% endfor %}

            {% include pagination.html %}

          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
